body{
    background-color: #0b6bb8a1;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}
.form-control{
    width: 400px;
}
.btn{
    background-color: black;
    color: white;
}
.btn:hover{
    background-color: black;
    color: white;
}
.alert{
    text-align: center;
}
